@dist-sm: 8px * @dppx;
@dist-md: 16px * @dppx;
@dist-lg: 24px * @dppx;
@dist-xl: 48px * @dppx;
@increment: 80px * @dppx;

* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-color: #F6F6F6;
}

.pages {
  width: 300%;
  height: 100%;
}

.pages > * {
  display: inline-block;
  vertical-align: top;

  width: calc(100% / 3);
  height: 100%;
}

.header {
  width: device-width;
  background-color: #333333;
  line-height: 4 * @increment;
}

.pageTitle {
  width: device-width;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  padding: @dist-sm;
}

.container {
  background-color: #990100;
  margin: 0 (16px * @dppx);
  border-radius: @dist-sm;
  box-shadow: 0 @dist-sm @dist-md 0;
}

li {
  line-height: 56px * @dppx;
  text-align: center;
  padding: 8px * @dppx;
  border-bottom: 2px * @dppx solid;
  box-sizing: border-box;
  color: #e8e8e8;
}

h1 {
  line-height: 2 * @increment;
  color: #e8e8e8;
  padding-left: @dist-md;
}

h2 {
  line-height: @increment;
}

.start {
  
}
.play {
  background-color: green;
}
.end {
  background-color: blue;
}
