@import '_variables';

body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-color: #F6F6F6;
}

h1 {
  line-height: @increment;
  font-size: @increment;
  font-variant: small-caps;
  color: #e8e8e8;
  margin: (@increment + @dist-xl) 0 0 @increment;
}

.pages {
  width: 300%;
  height: 100%;
}

.pages > * {
  display: inline-block;
  vertical-align: top;

  width: calc(100% / 3);
  height: 100%;
}

.header {
  width: device-width;
  background-color: #333333;
  height: 4 * @increment;
  padding: @dist-xl;
  box-shadow: 0 0 (2 * @dist-sm) 0;
}

.leftAction {
  width: @dist-xl;
  height: @dist-xl;
  float: left;
}

#back_icon {
  width: 100%;
  cursor: pointer;
}

#end_session {
  width: 2 * @dist-xl;
  height: @dist-xl;
  float: right;
  cursor: pointer;
  color: white;
  text-align: center;
  font-variant: small-caps;
  font-size: @increment/2;
  line-height: @dist-xl;
}

.container {
  margin: 0 (16px * @dppx);
  @media (min-width: 700px) {
    max-width: 690px;
    margin: 0 auto;
  }
}

.start {}
.play {
  background-color: #F6F6F6;
}
.end {
  background-color: blue;
}
