@import '_variables';

.play {

  .player-cards {
    perspective: 1000;
    text-align: center;

    li {
      display: inline-block;
      position: relative;
      width: 4 * @increment;
      height: 5.333 * @increment;
      margin: @dist-md;
      text-align: center;
    }
  }

  .player-card {
    transform-style: preserve-3d;
    transition-property: transform left top;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }

  .face {
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    transition: transform 0.3s linear;
  }

  .front {
    cursor: pointer;
    background: #990100;
    width: 100%;
  }

  .back {
    transform: rotateY(180deg) scale(0.2);
    background: #dbd1b4;
    width: 10 * @increment;
    height: 13.3333 * @increment;
  }

  .container {
    margin-top: @increment;
  }

  .player-card.open {
    z-index: 10;
    transform: rotateY(180deg);

    .front {
      transform: scale(5) translate(250px, 250px);
    }
    .back {
      transform: rotateY(180deg) scale(1) translate(250px, 250px);
    }
  }

}
