@import '_variables';

.play {

  .container {
    perspective: 1000;
    margin-top: @increment;
  }

  .overlay {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;

    background-color: rgba(33, 33, 33, 0.8);

    opacity: 0;
    display: none;

    transition: opacity 0.3s linear;

    &.show {
      opacity: 1;
    }
  }

  .player-cards {
    li {
      display: inline-block;

      position: relative;
      width: @card-width;
      height: @card-height;
      margin: @dist-md;

      text-align: center;
    }
  }

  .player-card {
    transform-style: preserve-3d;
  }

  .face {
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    cursor: pointer;
  }

  .front {
    width: 100%;
    background: #990100;
  }

  .back {
    width: 2 * @card-width;
    height: 2 * @card-height;

    transform: rotateY(180deg) scale(0.5);
    transform-origin: 128px 0;

    background: #DBD1B4;
  }
}
