@import '_variables.less';

.start {
  .pageTitle {
    width: device-width;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    padding: @dist-sm;
  }

  li {
    line-height: 56px * @dppx;
    text-align: center;
    padding: 8px * @dppx;
    border-bottom: 2px * @dppx solid;
    box-sizing: border-box;
    color: #e8e8e8;
  }

  h2 {
    line-height: @increment;
  }

}
