@import '_variables.less';

.start {
  .pageTitle {
    width: device-width;
    text-align: center;
    vertical-align: middle;
    padding: @dist-sm;
  }

  ul {
    background-color: #990100;
  }

  li {
    line-height: 56px * @dppx;
    text-align: center;
    padding: 8px * @dppx;
    color: #e8e8e8;
    cursor: pointer;
  }

  li + li {
    border-top: 2px * @dppx solid;
  }

  h2 {
    line-height: @increment;
  }

}
